/* Add CE-RISE logo to header */
.md-header__title::before {
    content: "";
    background-image: url("CERISE_RGB-standard-PNG.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 35px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

/* White background for the site */
[data-md-color-scheme="default"] {
    --md-default-bg-color: #ffffff;
    --md-default-fg-color: #333333;
}

.md-main__inner {
    background-color: #ffffff;
}

.md-content {
    background-color: #ffffff;
}

.md-header {
    background-color: #ffffff;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .md-header__title::before {
        width: 80px;
        height: 28px;
    }
}
